#searchbar {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-top: 20px;
}

form {
    text-align: center;
}

input {
    height: 25px;
    width: 250px;
    font-size: 20px;
    border-radius: 15px;
    padding-left: 20px;
    border: 1px solid grey;
}

#searchbar > i {
    position: absolute;
    top: 7px;
    left: 240px;
}

body {
    background-image: url('./pics/default.jpg');
    background-size: cover;
}

.fa-search {
    color: grey;
}

input:focus {
    outline: none;
}

.box {
    background-color: #344264;
    color: white;
    width: 270px;
    height: 260px;
    border-radius: 20px;
    padding: 15px;
    margin-top: 50px;
    display: inline-block;
}

#switcher {
    width: 60px;
    display: flex;
}

.temp-button {
    width: 30px;
    height: 20px;
    background-color: beige;
    color: grey;
    border: 1px solid grey;
}

.active {
    background-color: #81B622;
    color: black;
    font-weight: bold;
} 

.hidden {
    display: none;
}